<div class="d-flex flex-row w-100" style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <% if  @year_end_gift.errors.any? %>
           <ul class=" alert alert-danger">
              <%= @year_end_gift.errors.count %>件のエラーが発生しました
              <% @year_end_gift.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="row">
            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
              <% if shop_signed_in? %>
              <div data-toggle="tooltip" title="報告する">
                <button type="button" class="btn btn-primary  btn-block mb-3 mr-4  font-weight-bold" data-toggle="modal" data-target="#exampleModal">
                  Report!!
                </button>
              </div>
              <% end %>
            </div>
            <div class="col-12 col-lg-4 col-md-12 col-sm-12">
              <span class=" font-weight-bold " style=" color: #6169d0; ">お歳暮ギフト実績(全店舗合計)</span>
            </div>
          </div>
          <% @year_end_gifts.each do |gift| %>
            <% @shop_total_target_number += gift.target_number %>
            <% @shop_tptal_target_amount += gift.target_amount %>
            <% @shop_total_number += gift.number %>
            <% @shop_total_amount += gift.total_amount %>
          <% end %>
          <div class="mb-2 bg-white p-3 shadow-sm  text-secondary font-weight-bold">
            目標合計件数:<%= @shop_total_target_number.to_s(:delimited) %>件
            目標合計金額:<%= @shop_tptal_target_amount.to_s(:delimited) %>円
            合計件数:<%= @shop_total_number.to_s(:delimited) %>件
            合計達成金額:<%= @shop_total_amount.to_s(:delimited) %>円
          </div>
          <%= form_with(url: year_end_gifts_path, method: :get, local: true) do |f| %>
            <%= f.select :sort_amount,  { "件数▼" => :number_asc,
                                          "件数▲" => :number_desc,
                                          "達成金額▼" => :total_amount_asc,
                                          "達成金額▲" => :total_amount_desc },
                                          { include_blank: "登録順", selected: params[:sort_amount] }, {class: "text-secondary font-weight-bold"} %>
            <%= f.submit "Change",class:"pt-1 pb-1 rounded border-0 font-weight-bold", style:"background-color: #888b8e; color: #ffffff;"%>
          <% end %>
          <% if @all_year_end_gifts.where(year: @current_year.to_i + 1).any? %>
            <%= link_to year_end_gifts_path(current_year: (@current_year.to_i + 1)) ,class: "text-secondary font-weight-bold  text-decoration-none" do %>
              来年 <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          <% end %>
          <% if @all_year_end_gifts.where(year: @current_year.to_i - 1).any? %>
            <%= link_to year_end_gifts_path(current_year: (@current_year.to_i - 1)) ,class: "text-secondary font-weight-bold  text-decoration-none" do%>
              <i class="fas fa-arrow-circle-left"></i> 前年
            <% end %>
          <% end %>
          <table class="table text-secondary font-weight-bold">
            <%  @year_end_gifts.each do |gift| %>
              <tr>
                <td>
                  <%= gift.shop.name %><br>
                  <%= gift.year %>年度
                </td>
                <td>目標件数:<%=  gift.target_number %>件</td>
                <td>目標金額:<%=  gift.target_amount.to_s(:delimited) %>円</td>
                <td>件数:<%=  gift.number %>件</td>
                <td>達成金額:<%=  gift.total_amount.to_s(:delimited) %>円</td>
                <td>
                  <% if shop_signed_in? %>
                    <% if gift.shop_id == current_shop.id %>
                      <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="編集する" ><span class=" rounded-circle p-2 shadow-sm mr-3"style="background-color: #ffffff;"data-toggle="modal" data-target="#exampleModal_<%= gift.id %>"><i class="fas fa-edit"  style=" color: #6169d0; "></i></span></span>
                        <%= link_to  year_end_gift_path(gift), method: :delete,"data-confirm" => "本当に消しますか？" do %>
                          <span data-toggle="tooltip" data-placement="bottom" title="削除する" ><span class="bg-white rounded-circle p-2 shadow-sm"><i class="fas fa-eraser" style=" color: #6169d0; "></i></span></span>
                        <% end %>
                      </td>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal_<%= gift.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">実績報告を修正する</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <%= form_with model: gift, url: year_end_gift_path(gift) do |f| %>
                      <div class="modal-body">
                        <div class="form-group">
                          <%= f.label :year, "年度" %>
                          <%= f.text_field :year, class:"form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :taget_number, "目標件数" %>
                          <%= f.text_field :target_number, class:"form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :target_amount, "目標金額" %>
                          <%= f.text_field :target_amount, class:"form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :number, "件数" %>
                          <%= f.text_field :number, class:"form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :total_amount, "達成金額" %>
                          <%= f.text_field :total_amount, class:"form-control" %>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
                        <%= f.submit "Edit", class:"btn btn-success font-weight-bold" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </table>
          <div style="color: #6169d0;"><%= paginate @year_end_gifts %></div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">お歳暮ギフト実績報告</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for @year_end_gift, url: year_end_gifts_path do |f| %>
            <div class="modal-body">
              <div class="form-group">
                <%= f.label :year, "年度" %>
                <%= f.text_field :year, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :taget_number, "目標件数" %>
                <%= f.text_field :target_number, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :target_amount, "目標金額" %>
                <%= f.text_field :target_amount, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :number, "件数" %>
                <%= f.text_field :number, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :total_amount, "達成金額" %>
                <%= f.text_field :total_amount, class:"form-control" %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
              <%= f.submit "Report!!", class:"btn btn-primary font-weight-bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>