<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-5">
      <div class="row">

        <div class="col-12">
          <% @shops.each do |shop| %>
          <div class="card mb-1 shadow-sm">
          <div class="card-body  text-secondary font-weight-bold">
            <div class="row">
              <div class="col-3">
                <%= image_tag shop.get_profile_image(100,100), class: "rounded-circle"%>
              </div>
              <div class="col-5">
                <p class="card-text"><%= shop.name %></p>
                <p class="card-text"><%= shop.email %></p>
                <% if  shop.id == current_shop.id %>
                  <p class="card-text"><%= link_to "編集", edit_shop_path(shop) %></p>
                <% end %>
                <% if current_shop != shop %>
                  <p class="card-text"><%= link_to "chat", chat_path(shop) %></p>
                <% end %>
              </div>
            </div>


          </div>
          </div>
          <% end %>


        </div>
      </div>
    </div>
</div>
