<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-6">
          <%= image_tag @shop.get_profile_image(100,100)%>
          <%= @shop.name %>
          <%= @shop.email %>
          <%= link_to "編集", edit_shop_path(@shop) %>
        </div>
      </div>
    </div>
</div>
