<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= form_with model: @post, url: post_path(@post) do |f| %>
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title %>
            <%= f.label :appeal, "アピールポイント" %>
            <%= f.text_area :appeal %>
            <%= f.label :job, "役職" %>
            <%= f.text_field :job %>
            <%= f.label :name, "担当者" %>
            <%= f.text_field :name %>
            <%= f.label :ジャンル %>
            <%= f.collection_select :tag_id, Tag.all, :id, :name %>
            <%= f.label :画像  %>
            <%= f.file_field :profile_image, accept: "image/"  %>
            <%= f.submit  %>
          <% end %>
        </div>
      </div>
    </div>
</div>