<div class="d-flex flex-row w-100" style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
         <% if  @post.errors.any? %>
           <ul class=" alert alert-danger">
              <%=  @post.errors.count %>件のエラーが発生しました
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="row">
            <div class="col mb-3 ">
              <% if current_shop && unchecked_notifications.any? %>
                <i class="fa fa-circle" style="color: #ff1100;"></i>
              <% end %>
              <%= link_to notifications_path, class: "text-secondary font-weight-bold text-decoration-none" do %>
                Chat Info <i class="fas fa-comment-medical"></i>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <% if shop_signed_in? %>
              <div data-toggle="tooltip" title="投稿する!!">
                <button type="button" class="btn btn-primary  btn-block mb-3 font-weight-bold" data-toggle="modal" data-target="#exampleModal">
                  <i class="fas fa-pen-nib mr-2"></i>Share!!
                </button>
              </div>
              <% end %>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <%= search_form_for @search , url: search_posts_path do |f| %>
                <%= f.search_field :name_or_shop_name_or_tag_name_cont , class:"form-control shadow-sm border.border-5", placeholder:"店舗名、カテゴリから検索"%>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-2 col-md-12 col-sm-12 mt-2">
              <h5 class=" text-secondary font-weight-bold">投稿数合計 <%= @post_count %>件</h5>
            </div>
            <div class="col-12 col-lg-2 col-md-12 col-sm-12 ">
              <button type="button"class="pt-1 pb-1 rounded border-0 font-weight-bold mb-2"style="background-color: #888b8e; color: #ffffff;"><%= link_to "新着順", posts_path(top: "true"), class: "text-reset text-decoration-none" %></button>
              <button type="button"class="pt-1 pb-1 rounded border-0 font-weight-bold mb-2 ml-2"style="background-color: #888b8e; color: #ffffff;"><%= link_to "登録順", posts_path(old: "true"), class: "text-reset text-decoration-none" %></button>
            </div>
          </div>
          <% @posts.each do |post| %>
            <div class="card mb-1 shadow-sm">
              <div class="card-body  text-secondary font-weight-bold">
                <div class="row">
                  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <%= image_tag post.get_profile_image(300,300),class: "img-fluid"%>
                  </div>
                  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <p class="card-text"><%= post.created_at.strftime("%Y年%-m月%-d日%H時%M分") %></p>
                    <p class="card-text ">役職　<%= post.job %></p>
                    <p class="card-text">スタッフ名　<%= post.name %></p>
                      <div class="row">
                        <div class="col-5 col-lg-5   mt-2">
                          <%= image_tag post.shop.get_profile_image(80,80), class: "rounded img-fluid"%><br>
                        </div>
                        <div =class="col-6 col-lg-6  mt-2 ">
                          <p class="card-text"><%=  post.shop.name %></p>
                          <%= link_to post_path(post),class: "text-decoration-none mr-2" do %>
                            <span data-toggle="tooltip" data-placement="bottom" title="詳細を見る" class=" rounded-circle p-2 shadow-sm"style="background-color: #cdebf3;"><i class="fas fa-search"  style=" color: #39afd1; "></i></span>
                          <% end %>
                          <% if shop_signed_in? %>
                            <% if post.shop_id == current_shop.id %>
                              <span data-toggle="tooltip" data-placement="bottom" title="編集する" ><span class=" rounded-circle p-2 shadow-sm"style="background-color: #dcdefc;"data-toggle="modal" data-target="#exampleModal_<%= post.id %>"><i class="fas fa-edit"  style=" color: #737df5; "></i></span></span>
                              <%= link_to post_path(post), method: :delete,"data-confirm" => "本当に消しますか？",class: "text-decoration-none"  do %>
                                <span data-toggle="tooltip" data-placement="bottom" title="削除する" ><span class=" rounded-circle p-2 shadow-sm ml-1"style=" background-color: #f0b3bf;"><i class="fas fa-eraser" style=" color: #fa5c7c; "></i></span></span>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <p class="card-text">タイトル　<%= post.title %></p>
                    <p class="card-text">カテゴリー　<%=  post.tag.name %></p>
                    <p class="card-text">コメント件数　<%= post.comment_reviews.count %>件</p>
                    <% if shop_signed_in? %>
                      <div id="favorite_buttons_<%= post.id %>">
                        <%= render "shop/posts/favrite", post: post %>
                      </div>
                    <% end %>
                    <% if management_signed_in? %>
                      <div id="management_favorite_buttons_<%= post.id %>">
                        <%= render "shop/posts/management_favorites", post: post %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">投稿情報を編集する</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <%= form_with model: post, url: post_path(post) do |f| %>
                    <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :title, "タイトル" %>
                        <%= f.text_field :title, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :appeal, "アピールポイント" %>
                        <%= f.text_area :appeal, rows:'10',placeholder: "自分の頑張ったところを紹介しよう" , class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label :job, "役職" %>
                        <%= f.text_field :job, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :name, "担当者" %>
                        <%= f.text_field :name, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :ジャンル,class: "col-sm-3 col-form-label" %>
                        <%= f.collection_select :tag_id, Tag.all, :id, :name, class: 'form-control'%>
                      </div>
                      <div class="form-group">
                        <%= f.label :画像 ,class: "col-sm-3 col-form-label " %>
                        <%= f.file_field :profile_image, accept: "image/" %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
                      <%= f.submit "Edit", class:"btn btn-success font-weight-bold" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div style="color: #6169d0;"><%= paginate @posts %></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">共有事項を投稿する</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for @post, url:  posts_path do |f| %>
            <div class="modal-body">
              <div class="form-group">
                <%= f.label :title, "タイトル" %>
                <%= f.text_field :title, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :appeal, "アピールポイント" %>
                <%= f.text_area :appeal, rows:'10',placeholder: "自分の頑張ったところを紹介しよう" , class:"form-control"%>
              </div>
              <div class="form-group">
                <%= f.label :job, "役職" %>
                <%= f.text_field :job, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :name, "担当者" %>
                <%= f.text_field :name, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :ジャンル,class: "col-sm-3 col-form-label" %>
                <%= f.collection_select :tag_id, Tag.all, :id, :name, class: 'form-control'%>
              </div>
              <div class="form-group">
                <%= f.label :画像 ,class: "col-sm-3 col-form-label " %>
                <%= f.file_field :profile_image, accept: "image/" %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
              <%= f.submit "Shere!!", class:"btn btn-primary font-weight-bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>


