<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <% if shop_signed_in? %>
            <button type="button" class="btn btn-primary mb-3 font-weight-bold" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-pen-nib mr-2"></i>Share!!
            </button>
          <% end %>
          <% @posts.each do |post| %>
            <div class="card mb-1 shadow-sm">
              <div class="card-body  text-secondary font-weight-bold">
                <div class="row">
                  <div class="col-4">
                    <%= image_tag post.get_profile_image(300,300),class: "img-fluid"%>
                  </div>
                  <div class="col-4">
                    <p class="card-text"><%= post.created_at.strftime("%Y年%-m月%-d日%H時%M分") %></p>
                    <p class="card-text ">役職　<%= post.job %></p>
                    <p class="card-text">スタッフ名　<%= post.name %></p>
                      <div class="row">
                        <div class="col-5 mt-2">
                          <%= image_tag post.shop.get_profile_image(80,80), class: "rounded"%><br>
                        </div>
                        <div =class="col-6 mt-2 ">
                          <p class="card-text"><%=  post.shop.name %></p>
                          <%= link_to post_path(post),class: "text-decoration-none mr-2" do %>
                            <span class=" rounded-circle p-2 shadow-sm"style="background-color: #cdebf3;"><i class="fas fa-search"  style=" color: #39afd1; "></i></span>
                          <% end %>
                          <% if shop_signed_in? %>
                            <% if post.shop_id == current_shop.id %>
                              <span class=" rounded-circle p-2 shadow-sm"style="background-color: #dcdefc;"data-toggle="modal" data-target="#exampleModal_<%= post.id %>"><i class="fas fa-edit"  style=" color: #737df5; "></i></span>
                              <%= link_to post_path(post), method: :delete,"data-confirm" => "本当に消しますか？",class: "text-decoration-none"  do %>
                                <span class=" rounded-circle p-2 shadow-sm"style=" background-color: #f0b3bf;"><i class="fas fa-eraser" style=" color: #fa5c7c; "></i></span>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                    <p class="card-text">タイトル　<%= post.title %></p>
                    <p class="card-text">カテゴリー　<%=  post.tag.name %></p>
                    <p class="card-text">コメント件数　<%= post.comment_reviews.count %>件</p>
                    <% if shop_signed_in? %>
                      <div id="favorite_buttons_<%= post.id %>">
                        <%= render "shop/posts/favrite", post: post %>
                      </div>
                    <% end %>
                    <% if management_signed_in? %>
                      <div id="management_favorite_buttons_<%= post.id %>">
                        <%= render "shop/posts/management_favorites", post: post %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">投稿情報を編集する</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <%= form_with model: post, url: post_path(post) do |f| %>
                    <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :title, "タイトル" %>
                        <%= f.text_field :title, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :appeal, "アピールポイント" %>
                        <%= f.text_area :appeal, rows:'10',placeholder: "自分の頑張ったところを紹介しよう" , class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label :job, "役職" %>
                        <%= f.text_field :job, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :name, "担当者" %>
                        <%= f.text_field :name, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :ジャンル,class: "col-sm-3 col-form-label" %>
                        <%= f.collection_select :tag_id, Tag.all, :id, :name, class: 'form-control'%>
                      </div>
                      <div class="form-group">
                        <%= f.label :画像 ,class: "col-sm-3 col-form-label " %>
                        <%= f.file_field :profile_image, accept: "image/" %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
                      <%= f.submit "Edit", class:"btn btn-success font-weight-bold" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">共有事項を投稿する</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for @post, url:  posts_path do |f| %>
            <div class="modal-body">
              <div class="form-group">
                <%= f.label :title, "タイトル" %>
                <%= f.text_field :title, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :appeal, "アピールポイント" %>
                <%= f.text_area :appeal, rows:'10',placeholder: "自分の頑張ったところを紹介しよう" , class:"form-control"%>
              </div>
              <div class="form-group">
                <%= f.label :job, "役職" %>
                <%= f.text_field :job, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :name, "担当者" %>
                <%= f.text_field :name, class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :ジャンル,class: "col-sm-3 col-form-label" %>
                <%= f.collection_select :tag_id, Tag.all, :id, :name, class: 'form-control'%>
              </div>
              <div class="form-group">
                <%= f.label :画像 ,class: "col-sm-3 col-form-label " %>
                <%= f.file_field :profile_image, accept: "image/" %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Close</button>
              <%= f.submit "Shere!!", class:"btn btn-primary font-weight-bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>