<div class="d-flex flex-row w-100" style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-4 ">
      <h4 class=" font-weight-bold mt-3 mb-3 bold border-bottom " style=" color: #6169d0; ">Share!!Work</h4>
      <div class="row">
        <div class="card mb-1 shadow-sm">
          <div class="card-body  text-secondary font-weight-bold">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-lg-8 col-md-12 col-sm-12">
                  <%= image_tag @post.get_profile_image(500,500),class: "img-fluid"%>
                </div>
                <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                  <p class="card-text"><%=  @post.shop.name %></p>
                  <p class="card-text">役職:<%=  @post.job %></p>
                  <p class="card-text">スタッフ名:<%=  @post.name %></p>
                  <p class="card-text">タイトル:<%= @post.title %></p>
                  <p class="card-text">カテゴリー:<%=  @post.tag.name %></p>
                  <p class="card-text">アピールポイント<%= simple_format @post.appeal %></p>
                </div>
              </div>
           </div>
         </div>
        </div>
        <div class="col-12">
          <h4 class=" font-weight-bold mt-3 mb-3 bold border-bottom" style=" color: #6169d0; ">Managements-Comment!!</h4>
          <% if management_signed_in? %>
            <button type="button" class="btn btn-primary mb-3 font-weight-bold" data-toggle="modal" data-target="#exampleModal">
              Comment!!
            </button>
          <% end %>
          <% @post.comment_reviews.each do |post_comment| %>
            <div class="card mb-1 shadow-sm">
              <div class="card-body  text-secondary font-weight-bold">
                <p class="card-text">
                  <%= post_comment.created_at.strftime("%Y年%-m月%-d日%H時%M分")  %>
                <% if management_signed_in? %>
                  <%= link_to post_comment_review_path(post_comment.post,post_comment), method: :delete,"data-confirm" => "本当に消しますか？" do %>
                    <span class=" rounded-circle p-2 shadow-sm"style=" background-color: #f0b3bf;"><i class="fas fa-eraser" style=" color: #fa5c7c; "></i></span>
                  <% end %>
                <% end %>
                </p>
                <p class="card-text"><%= post_comment.comment %></p>
                <%= image_tag post_comment.management.get_profile_image(50,50), class: "rounded-circle"%>
                <%= post_comment.management.job %>
                <%= post_comment.management.name %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">コメント投稿</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_with model:[@post, @comment]  do |f| %>
            <div class="modal-body">
              <div class="form-group">
                <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" , class:"form-control"%>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary  font-weight-bold " data-dismiss="modal">Close</button>
              <%= f.submit "Comment!!", class:"btn btn-primary  font-weight-bold " %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
