<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container">
      <div class="row">
        <div class="col">
          Chat
          <%= form_with model: @chat do |f| %>
            <%= f.text_field :message %>
            <%= f.hidden_field :room_id %>
          <% end %>

          <% @chats.each do |chat| %>
            <%= chat.shop.name %>
            <%= chat.message %>
          <% end %>
        </div>
      </div>
    </div>
</div>
