<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @day_of_the_ox, url: day_of_the_ox_path(@day_of_the_ox) do |f| %>
<%= f.label :year, "年度" %>
            <%= f.text_field :year %>



            <%= f.label :booking_target, "予約目標" %>
            <%= f.text_field :booking_target %>


            <%= f.label :target_amount, "目標金額" %>
            <%= f.text_field :target_amount %>


            <%= f.label :booking_amount, "予約金額" %>
            <%= f.text_field :booking_amount %>


            <%= f.label :store_sales_amount, "店売金額" %>
            <%= f.text_field :store_sales_amount %>


            <%= f.label :total_amount, "達成金額" %>
            <%= f.text_field :total_amount%>


<%= f.submit  %>
<% end %>
    </div>
  </div>
</div>
