<main style="background-color: #313a46;">
  <div class="container-fluid text-justify">
    <div class="row ">
      <div class="col-12">
        <img src= <%= asset_path'PF2.jpg' %> class="img-fluid"alt="Responsive image">
      </div>
    </div>
  </div>
</main>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="pagination justify-content-center">
        <%=  link_to  new_shop_registration_path do %>
          <button type="button" class="btn btn-primary font-weight-bold mb-3"style=" min-height: 60px;"><i class="fas fa-plus-circle"></i> Shop SignUp!</button>
        <% end %>
        <%=  link_to  new_shop_session_path do %>
          <button type="button" class="btn btn-primary font-weight-bold mb-3 "style=" min-height: 60px;"><i class="fas fa-sign-in-alt"></i> Shop LogIn!</button>
        <% end %>
        <%=  link_to  new_management_registration_path do %>
          <button type="button" class="btn btn-primary font-weight-bold mb-3"style=" min-height: 60px;"><i class="fas fa-plus-circle"></i> Management SignUp!</button>
        <% end %>
        <%=  link_to  new_management_session_path do %>
          <button type="button" class="btn btn-primary font-weight-bold mb-3"style=" min-height: 60px;"><i class="fas fa-sign-in-alt"></i> Management LogIn!</button>
        <% end %>
         <%= link_to 'ゲストログイン（shop閲覧用）', shops_guest_sign_in_path, method: :post  %>
         <%= link_to 'ゲストログイン（management閲覧用）', managements_guest_sign_in_path, method: :post %>
        <%=  link_to destroy_shop_session_path, method: :delete, class: "nav-link text-light" do %>
            <i class="fas fa-sign-out-alt mr-2"></i>LogOut
          <% end %>
      </div>
    </div>
  </div>
</div>

