<main style="background-color: #313a46;">
  <div class="container-fluid text-justify">
    <div class="row ">
      <div class="col-12 d-block d-sm-none">
        <img src= <%= asset_path'PF.jpg' %> class="img-fluid"alt="Responsive image">
      </div>
      <div class="col-12 d-none d-sm-block">
        <img src= <%= asset_path'PF2.jpg' %> class="img-fluid"alt="Responsive image">
      </div>
    </div>
  </div>
</main>
<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="pagination justify-content-center">
        <%=  link_to  new_shop_registration_path ,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-primary font-weight-bold  d-none d-sm-block"style=" min-height: 60px;"><i class="fas fa-plus-circle"></i> Shop SignUp!</button>
        <% end %>
        <%=  link_to  new_shop_session_path ,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-primary font-weight-bold  ml-1"style=" min-height: 60px;"><i class="fas fa-sign-in-alt"></i> Shop LogIn!</button>
        <% end %>
        <%=  link_to  new_management_registration_path,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-primary font-weight-bold  d-none d-sm-block ml-1"style=" min-height: 60px;"><i class="fas fa-plus-circle"></i> Management SignUp!</button>
        <% end %>
        <%=  link_to  new_management_session_path,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-primary font-weight-bold  ml-1"style=" min-height: 60px;"><i class="fas fa-sign-in-alt"></i> Management LogIn!</button>
        <% end %>
         <%= link_to shops_guest_sign_in_path, method: :post ,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-warning font-weight-bold  d-none d-sm-block ml-1"style=" min-height: 60px;"><i class="fas fa-sign-in-alt"></i> GestShop LogIn!</button>
        <% end %>
        <%= link_to managements_guest_sign_in_path, method: :post ,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-warning font-weight-bold  d-none d-sm-block ml-1"style=" min-height: 60px;"><i class="fas fa-sign-in-alt"></i> GestManagement LogIn!</button>
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <%=  link_to  new_shop_registration_path ,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-warning font-weight-bold d-sm-none"style=" min-height: 60px;"><i class="fas fa-plus-circle"></i> Shop SignUp!</button>
        <% end %>
        <%=  link_to  new_management_registration_path,class: "text-decoration-none" do %>
          <button type="button" class="btn btn-warning font-weight-bold  d-sm-none"style=" min-height: 60px;"><i class="fas fa-plus-circle"></i> Management SignUp!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

