<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= image_tag @management.get_profile_image(100,100), class: "rounded-circle"%>
          <%= @management.job %>
          <%= @management.name %>
          <%= @management.email %>
          <%= link_to  "編集",edit_management_management_path(@management) %>
        </div>
      </div>
    </div>
</div>
