
<div class="d-flex flex-row w-100 pr-5 " style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-5">
      <h4 class=" font-weight-bold mt-3 mb-3 bold border-bottom " style=" color: #6169d0; ">All-Management　&　All-Shop</h4>
      <div class="row">
        <div class="col-6">
          <% @managements.each do |management| %>
            <div class="card mb-1 shadow-sm">
              <div class="card-body  text-secondary font-weight-bold">
                <div class="row">
                  <div class="col-4">
                    <%= image_tag management.get_profile_image(100,100), class: "rounded-circle"%>
                  </div>
                  <div class="col-5">
                    <p class="card-text">役職: <%= management.job %></p>
                    <p class="card-text">氏名: <%= management.name %></p>
                    <p class="card-text">emal: <%= management.email %></p>
                    <% if  management.id == current_management.id %>
                      <%= link_to  edit_management_management_path(management) do %>
                        <span class=" rounded-circle p-2 shadow-sm"style="background-color: #dcdefc;"><i class="fas fa-edit"  style=" color: #737df5; "></i></span>
                      <% end %>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-6">
          <% @shops.each do |shop| %>
          <div class="card mb-1 shadow-sm">
              <div class="card-body  text-secondary font-weight-bold">
                <div class="row">
                  <div class="col-3">
                    <%= image_tag shop.get_profile_image(100,100), class: "rounded-circle"%>
                  </div>
                  <div class="col-6">

                    <p class="card-text">店舗名: <%= shop.name %></p>
                    <p class="card-text">emal: <%= shop.email %></p>

                    </div>

            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
