<div class="d-flex flex-row w-100" style="height: calc(100% - 50px)">
  <!--サイドバーコンテンツ-->
  <%= render "layouts/sidenav" %>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <% if  @christmas.errors.any? %>
           <ul class=" alert alert-danger">
              <%= @christmas.errors.count %>件のエラーが発生しました
              <% @christmas.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="row">
            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
              <% if shop_signed_in? %>
              <div data-toggle="tooltip" title="報告する">
                <button type="button" class="btn btn-primary  btn-block mb-3 mr-4  font-weight-bold" data-toggle="modal" data-target="#exampleModal">
                  Report!!
                </button>
              </div>  
              <% end %>
            </div>
            <div class="col-12 col-lg-4 col-md-12 col-sm-12">
              <span class=" font-weight-bold " style=" color: #6169d0; ">クリスマス実績(全店舗合計)</span>
            </div>
          </div>
          <%  @christmases.each do |christmas| %>
            <% @shop_total_amount += christmas.total_amount %>
            <% @shop_tptal_booking_target += christmas.booking_amount %>
            <% @shop_store_sales_amount += christmas.store_sales_amount %>
          <% end %>
          <div class="mb-2 bg-white p-3 shadow-sm  text-secondary font-weight-bold">
            店売合計金額:<%= @shop_store_sales_amount.to_s(:delimited) %>円
            予約合計金額:<%= @shop_tptal_booking_target.to_s(:delimited) %>円
            合計達成金額:<%= @shop_total_amount.to_s(:delimited) %>円
          </div>
          <%= form_with(url: christmases_path, method: :get, local: true) do |f| %>
              <%= f.select :sort_amount,  { "予約金額▼" => :booking_amount_asc,
                                            "予約金額▲" => :booking_amount_desc,
                                            "達成金額▼" => :total_amount_asc,
                                            "達成金額▲" => :total_amount_desc },
                                          { include_blank: "登録順", selected: params[:sort_amount] }, {class: "text-secondary font-weight-bold"} %>
            <%= f.submit "Change",class:"pt-1 pb-1 rounded border-0 font-weight-bold", style:"background-color: #888b8e; color: #ffffff;"%>
          <% end %>
          <% if @all_christmases.where(year: @current_year.to_i + 1).any? %>
            <%= link_to christmases_path(current_year: (@current_year.to_i + 1)) ,class: "text-secondary font-weight-bold  text-decoration-none" do %>
              来年 <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          <% end %>
          <% if @all_christmases.where(year: @current_year.to_i - 1).any? %>
            <%= link_to christmases_path(current_year: (@current_year.to_i - 1)) ,class: "text-secondary font-weight-bold  text-decoration-none" do%>
              <i class="fas fa-arrow-circle-left"></i> 前年
            <% end %>
          <% end %>
          <table class="table text-secondary font-weight-bold">
            <%  @christmases.each do |christmas| %>
              <tr>
                <td>
                  <%= christmas.shop.name %><br>
                  <%= christmas.year %>年度
                </td>
                <td>
                  予約目標:<%=  christmas.booking_target.to_s(:delimited) %>円<br>
                  目標金額:<%=  christmas.target_amount.to_s(:delimited) %>円
                </td>
                <td>FF金額:<%=  christmas.ff_amount.to_s(:delimited) %>円<br>
                店売金額:<%=  christmas.store_sales_amount.to_s(:delimited) %>円</td>
                <td>
                  予約金額:<%=  christmas.booking_amount.to_s(:delimited) %>円<br>
                  達成金額:<%=  christmas.total_amount.to_s(:delimited) %>円
                </td>
                  <% if shop_signed_in? %>
                    <% if christmas.shop_id == current_shop.id %>
                      <td>
                        <span data-toggle="tooltip" data-placement="bottom" title="編集する" ><span class=" rounded-circle p-2 shadow-sm mr-3"style="background-color: #ffffff;"data-toggle="modal" data-target="#exampleModal_<%= christmas.id %>"><i class="fas fa-edit"  style=" color: #6169d0; "></i></span></span>
                        <%= link_to  christmase_path(christmas), method: :delete,"data-confirm" => "本当に消しますか？" do %>
                          <span data-toggle="tooltip" data-placement="bottom" title="削除する" ><span class="bg-white rounded-circle p-2 shadow-sm"><i class="fas fa-eraser" style=" color: #6169d0; "></i></span></span>
                        <% end %>
                      </td>
                    <% end %>
                  <% end %>
              </tr>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal_<%= christmas.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">実績報告を修正する</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <%= form_with model: christmas, url: christmase_path(christmas) do |f| %>
                    <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :year, "年度" %>
                        <%= f.text_field :year, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :booking_target, "予約目標" %>
                        <%= f.text_field :booking_target, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :target_amount, "目標金額" %>
                        <%= f.text_field :target_amount, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :booking_amount, "予約金額" %>
                        <%= f.text_field :booking_amount, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :ff_amount, "FF金額" %>
                        <%= f.text_field :ff_amount, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :store_sales_amount, "店売金額" %>
                        <%= f.text_field :store_sales_amount, class:"form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :total_amount, "達成金額" %>
                        <%= f.text_field :total_amount, class:"form-control" %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary  font-weight-bold" data-dismiss="modal">Close</button>
                      <%= f.submit "Edit", class:"btn btn-success  font-weight-bold" %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </table>
          <div style="color: #6169d0;"><%= paginate  @christmases %></div>
        </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">クリスマス実績報告</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @christmas, url: christmases_path do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :year, "年度" %>
            <%= f.text_field :year, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :booking_target, "予約目標" %>
            <%= f.text_field :booking_target, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :target_amount, "目標金額" %>
            <%= f.text_field :target_amount, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :booking_amount, "予約金額" %>
            <%= f.text_field :booking_amount, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :ff_amount, "FF金額" %>
            <%= f.text_field :ff_amount, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :store_sales_amount, "店売金額" %>
            <%= f.text_field :store_sales_amount, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :total_amount, "達成金額" %>
            <%= f.text_field :total_amount, class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary  font-weight-bold" data-dismiss="modal">Close</button>
          <%= f.submit "Report!!", class:"btn btn-primary  font-weight-bold" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
