<nav class=" pr-2 pl-2 d-none d-sm-block" style="background-color: #313a46; min-height: 851px; min-width: 250px;">
  <ul class="nav flex-column m-0 p-3 font-weight-bold">
    <li class="nav-item mt-4 mb-3">
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src=<%= asset_path 'Share!!.png' %> width="150" height="40" class="d-inline-block align-top" alt="">
      <% end %>
    </li>
    <% if shop_signed_in? %>
      <li class="navbar-text ">
        <p class=" font-weight-bold" style="color: #ffffff; "><%= image_tag current_shop.get_profile_image(40,40), class: "rounded-circle"%><%= current_shop.name %></p>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to my_page_shops_path , class: "nav-link text-light " do %>
          <span data-toggle="tooltip" data-placement="right" title="マイページ & チャット" ><i class="fas fa-user-circle mr-2"></i>MyPege & Chat</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to posts_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="投稿する" ><i class="fas fa-pen-nib mr-2"></i>Share</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to groups_path, class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="グループ一覧" ><i class="fas fa-users mr-2"></i>Group</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to mother_father_gifts_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="母の日 父の日" ><i class="fas fa-gift mr-2"></i>MotherFatherGift</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to  summer_gifts_path, class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="お中元" ><i class="fas fa-umbrella-beach mr-2"></i>SummerGift</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to  year_end_gifts_path , class: "nav-link text-light" do %>
        <span data-toggle="tooltip" data-placement="right" title="お歳暮" ><i class="fas fa-glass-cheers mr-2"></i>YearEndGift</span>
        <% end%>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to day_of_the_oxes_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="土用の丑の日" ><i class="fas fa-wave-square mr-2"></i>DayOfTheOx</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to ehomakis_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="恵方巻" ><i class="fas fa-scroll mr-2"></i>Ehomaki</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to christmases_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="クリスマス" ><i class="fas fa-holly-berry mr-2"></i>Christmas</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to destroy_shop_session_path, method: :delete, class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="ログアウト" ><i class="fas fa-sign-out-alt mr-2"></i>LogOut</span>
        <% end %>
      </li>
    <% elsif management_signed_in? %>
      <li class="navbar-text">
        <p class=" font-weight-bold" style="color: #ffffff; "><%= image_tag current_management.get_profile_image(40,40), class: "rounded-circle"%>　<%= current_management.name %></p>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to my_page_management_managements_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="マイページ" ><i class="fas fa-user-circle mr-2"></i>MyPege</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to  posts_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="投稿を見る" ><i class="fas fa-pen-nib mr-2"></i>Share</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to mother_father_gifts_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="母の日 父の日" ><i class="fas fa-gift mr-2"></i>MotherFatherGift</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to  summer_gifts_path, class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="お中元" ><i class="fas fa-umbrella-beach mr-2"></i>SummerGift</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to  year_end_gifts_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="お歳暮" ><i class="fas fa-glass-cheers mr-2"></i>YearEndGift</span>
        <% end%>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to day_of_the_oxes_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="土用の丑の日" ><i class="fas fa-wave-square mr-2"></i>DayOfTheOx</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to ehomakis_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="恵方巻" ><i class="fas fa-scroll mr-2"></i>Ehomaki</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to christmases_path , class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="クリスマス" ><i class="fas fa-holly-berry mr-2"></i>Christmas</span>
        <% end %>
      </li>
      <li class="nav-item mb-2">
        <%=  link_to destroy_management_session_path, method: :delete, class: "nav-link text-light" do %>
          <span data-toggle="tooltip" data-placement="right" title="ログアウト" ><i class="fas fa-sign-out-alt mr-2"></i>LogOut</span>
        <% end %>
      </li>
     <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%=  link_to destroy_shop_session_path, method: :delete, class: "nav-link text-light" do %>
            <span data-toggle="tooltip" data-placement="right" title="ログアウト" ><i class="fas fa-sign-out-alt mr-2"></i>LogOut</span>
          <% end %>
        </li>
      </ul>
      <span class="navbar-text pr-3">
        <p class=" font-weight-bold  border-bottom  border-dark" style="color: #ffffff; ">Welcome!!　ゲストさん</p>
      </span>
    <% end %>
  </ul>
</nav>