

            <nav class=" pr-2 pl-2 d-none d-sm-block" style="background-color: #313a46; min-height: 851px;">
                <ul class="nav flex-column m-0 p-3">
                    <li class="nav-item mb-2"><%=  link_to "MyPege", my_page_shops_path , class: "nav-link text-light"%></li>
                    <li class="nav-item mb-2"><%=  link_to "Post", posts_path , class: "nav-link text-light"%></li>
                    <li class="nav-item mb-2"><%=  link_to "MotherFatherGift", mother_father_gifts_path , class: "nav-link text-light"%></li>
                    <li class="nav-item mb-2"><%=  link_to "SummerGift", summer_gifts_path, class: "nav-link text-light" %></li>
                    <li class="nav-item mb-2"><%=  link_to "YearEndGift", year_end_gifts_path , class: "nav-link text-light"%></li>
                    <li class="nav-item mb-2"><%=  link_to "DayOfTheOx", day_of_the_oxes_path , class: "nav-link text-light"%></li>
                </ul>
            </nav>

