<!DOCTYPE html>
<html>
  <head>
    <title>ShereWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100" style="background-color: #f1f5f7;">
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
      <p class="notice text-center text-secondary font-weight-bold"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert text-center text-secondary font-weight-bold"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
